@charset "UTF-8";

body, html{
	background: #fffdf2;
}

*{
	text-decoration: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

header{
	background: #e6c67b;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: white;
	font-size: 40px;
}

nav{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #f3e4c0;
	text-align: center;
}

nav> ul{
	width: 90%;
}

nav> ul> li{
	width: 10%;
	float: left;
}

section{
	width: 100%;
}

section> .content{
	margin: 0 auto;
	padding: 20px;
}

section> .content .title{
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

#table_title{
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
	padding: 20px;
}

table{
	background: white;
	width: 60%;
	border: 1px solid black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

tr, td{
	text-align: center;
	border : 1px solid black;
	height: 35px;
	line-height: 35px;
}


footer{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #96721d;
	color: white;
	text-align: center;
	bottom: 0;
	position: fixed;
}